In [106]:
import pandas as pd
import os
import json

In [2]:
participant_overview = pd.read_excel("./PMDATA/participant-overview.xlsx")
participant_overview

,Participant ID,Age,Height,Gender,A or B person,Max heart rate,1st_5km_run_date,Minutes,Seconds,stride walk_fitbit,stride_run_fitbit
0,p01,48,195,male,A,182,2019-11-26 00:00:00,29,33,80.90,102.9
1,p02,60,180,male,A,169,2019-12-15 00:00:00,23,51,74.70,92.4
2,p03,25,184,male,A,157,2019-12-30 00:00:00,33,22,NaN,NaN
3,p04,26,163,female,A,195,2019-11-19 00:00:00,22,13,67.30,110.2
4,p05,35,176,male,A,184,2019-12-23 00:00:00,32,40,73.00,94.3
5,p06,42,179,male,B,181,2019-12-01 00:00:00,23,19,73.04,97.6
6,p07,26,177,male,B,NaN,2019-11-19 00:00:00,19,40,73.50,119.5
7,p08,27,186,male,B,200,2019-11-28 00:00:00,18,47,77.20,103.6
8,p09,26,180,male,B,183,2020-01-07 00:00:00,35,6,74.70,109.9
9,p10,38,179,female,B,197,2019-12-08 00:00:00,28,10,73.09,102.3
10,p11,25,171,female,A,203,november,26,15,70.60,98.9
11,p12,27,178,male,A,,2019-12-17 00:00:00,30,22,NaN,NaN
12,p13,31,183,male,A,186,2019-11-11 00:00:00,30,16,75.90,105.6
13,p14,45,181,male,A,190,november,26,15,75.10,11.3
14,p15,54,180,male,A,NaN,injured,injured,injured,74.70,88.1
15,p16,23,182,male,B,199,2020-11-16 00:00:00,47,28,75.50,128.8

In [3]:
p07_wellness = pd.read_csv("./PMDATA/p07/pmsys/wellness.csv")
p07_srpe =  pd.read_csv("./PMDATA/p07/pmsys/srpe.csv")
p07_srpe.head(10)

,end_date_time,activity_names,perceived_exertion,duration_min
0,2019-11-06T17:11:01.488Z,"['individual', 'endurance']",3,40
1,2019-11-07T17:25:57.372Z,"['individual', 'endurance']",5,70
2,2019-11-09T11:30:32.688Z,"['individual', 'endurance']",6,120
3,2019-11-09T14:38:23.669Z,"['individual', 'endurance']",5,120
4,2019-11-11T18:51:38.965Z,"['individual', 'running']",8,60
5,2019-11-13T09:20:38.949Z,"['individual', 'running']",4,60
6,2019-11-14T17:39:49.167Z,"['individual', 'running']",7,50
7,2019-11-15T13:58:07.247Z,"['individual', 'running']",7,30
8,2019-11-16T12:00:31.110Z,"['individual', 'endurance']",4,120
9,2019-11-17T11:39:15.385Z,"['individual', 'running']",4,100

In [4]:
def read_fitbit_data(participant_id : str):
    directory_path = f"./PMDATA/{participant_id}/fitbit/"

    json_files = [f for f in os.listdir(directory_path) if f.endswith(".json")]
    all_data = []

    for file in json_files:
        file_path = os.path.join(directory_path, file)

        try:
            df = pd.read_json(file_path)
            metric_name = file.replace(".json","")
            df["metric"] = metric_name

            all_data.append(df)
        except Exception as e:
            print(f"Could not load {file}: {e}")

    combined_df = pd.concat(all_data, ignore_index=True)

    combined_df = combined_df[["dateTime","metric","value"]]
    return combined_df

In [5]:
p07 = read_fitbit_data("p07")

In [6]:
p07["metric"].unique()

array(['heart_rate', 'calories', 'distance', 'exercise',
       'moderately_active_minutes', 'lightly_active_minutes',
       'resting_heart_rate', 'sedentary_minutes', 'steps', 'sleep',
       'time_in_heart_rate_zones', 'very_active_minutes'], dtype=object)

In [7]:
p07_reporting = pd.read_csv("./PMDATA/p07/googledocs/reporting.csv")
p07_wellness = pd.read_csv("./PMDATA/p07/pmsys/wellness.csv")
p07_reporting.head(10)

,date,timestamp,meals,weight,glasses_of_fluid,alcohol_consumed
0,09/11/2019,09/11/2019 21:46:25,"Breakfast, Lunch, Dinner, Evening",68.0,10,No
1,11/11/2019,11/11/2019 20:16:06,"Breakfast, Lunch, Dinner, Evening",68.0,7,No
2,12/11/2019,12/11/2019 20:32:14,"Breakfast, Lunch, Dinner, Evening",68.0,6,No
3,13/11/2019,13/11/2019 20:58:16,"Breakfast, Lunch, Dinner, Evening",68.0,7,No
4,14/11/2019,14/11/2019 21:01:20,"Breakfast, Lunch, Dinner, Evening",68.0,10,No
5,15/11/2019,15/11/2019 21:00:40,"Breakfast, Lunch, Dinner",68.0,12,No
6,16/11/2019,16/11/2019 21:03:57,"Breakfast, Lunch, Dinner",68.0,15,Yes
7,17/11/2019,17/11/2019 20:30:22,Dinner,68.0,10,Yes
8,18/11/2019,18/11/2019 21:03:45,"Lunch, Dinner, Evening",68.0,12,No
9,19/11/2019,19/11/2019 21:01:27,"Breakfast, Lunch, Dinner, Evening",68.0,12,No

In [8]:
p07_reporting.head()

,date,timestamp,meals,weight,glasses_of_fluid,alcohol_consumed
0,09/11/2019,09/11/2019 21:46:25,"Breakfast, Lunch, Dinner, Evening",68.0,10,No
1,11/11/2019,11/11/2019 20:16:06,"Breakfast, Lunch, Dinner, Evening",68.0,7,No
2,12/11/2019,12/11/2019 20:32:14,"Breakfast, Lunch, Dinner, Evening",68.0,6,No
3,13/11/2019,13/11/2019 20:58:16,"Breakfast, Lunch, Dinner, Evening",68.0,7,No
4,14/11/2019,14/11/2019 21:01:20,"Breakfast, Lunch, Dinner, Evening",68.0,10,No

In [9]:
p07[p07["metric"] == "heart_rate"].head()

             dateTime      metric                         value
0 2019-11-06 15:44:54  heart_rate  {'bpm': 70, 'confidence': 0}
1 2019-11-06 15:45:09  heart_rate  {'bpm': 75, 'confidence': 0}
2 2019-11-06 15:45:14  heart_rate  {'bpm': 87, 'confidence': 1}
3 2019-11-06 15:45:19  heart_rate  {'bpm': 83, 'confidence': 1}
4 2019-11-06 15:45:24  heart_rate  {'bpm': 80, 'confidence': 1}

In [10]:
p07_srpe.head(5)

,end_date_time,activity_names,perceived_exertion,duration_min
0,2019-11-06T17:11:01.488Z,"['individual', 'endurance']",3,40
1,2019-11-07T17:25:57.372Z,"['individual', 'endurance']",5,70
2,2019-11-09T11:30:32.688Z,"['individual', 'endurance']",6,120
3,2019-11-09T14:38:23.669Z,"['individual', 'endurance']",5,120
4,2019-11-11T18:51:38.965Z,"['individual', 'running']",8,60

In [11]:
p07_wellness.head()

,effective_time_frame,fatigue,mood,readiness,sleep_duration_h,sleep_quality,soreness,soreness_area,stress
0,2019-11-06T15:29:27.844Z,3,3,2,9,4,3,[],5
1,2019-11-07T07:25:20.238Z,4,3,6,9,4,3,[],4
2,2019-11-08T06:58:09.421Z,3,3,4,8,4,3,[],3
3,2019-11-09T06:54:50.161Z,4,4,8,6,4,3,[],4
4,2019-11-10T08:23:08.031Z,3,3,4,8,3,2,"[48979004, 32696007]",4

In [12]:
heart_rate_df = p07[p07["metric"] == "heart_rate"].copy()

In [13]:
heart_rate_df["heart_rate_value"] = heart_rate_df["value"].apply(lambda x: x["bpm"])
heart_rate_df.drop(["value","metric"], axis = 1, inplace = True)
daily_heart_rate = heart_rate_df.set_index("dateTime").resample("D").mean().reset_index()
daily_heart_rate.rename(columns = {"heart_rate_value":"avg_daily_heart_rate"}, inplace = True)
daily_heart_rate["dateTime"] = daily_heart_rate["dateTime"].dt.date
daily_heart_rate.head(10)

     dateTime  avg_daily_heart_rate
0  2019-11-06             92.286210
1  2019-11-07             80.636287
2  2019-11-08             63.418695
3  2019-11-09            109.914619
4  2019-11-10             63.086870
5  2019-11-11             75.222814
6  2019-11-12             59.924589
7  2019-11-13             73.750455
8  2019-11-14             74.698637
9  2019-11-15             75.299404

In [54]:
def get_daily_aggregate(df, metric, metric_name,aggregate_type):
    specific = df[df["metric"] == metric].copy()
    specific = specific.drop("metric", axis = 1)
    if(aggregate_type == "sum"):
        specific.rename(columns = {"value":f"{metric_name}_sum"}, inplace = True)
        specific = specific.set_index("dateTime").resample("D").sum().reset_index()
    if(aggregate_type == "mean"):
        specific.rename(columns = {"value":f"{metric_name}_mean"}, inplace = True)
        specific = specific.set_index("dateTime").resample("D").mean().reset_index()
    return specific

In [56]:
daily_calories_burned = get_daily_aggregate(p07, "calories", "daily_calories_burned","sum")
daily_calories_burned

      dateTime daily_calories_burned_sum
0   2019-11-05                    1656.0
1   2019-11-06                   2538.77
2   2019-11-07                   3420.22
3   2019-11-08                   2638.93
4   2019-11-09                   5465.84
..         ...                       ...
143 2020-03-27                   3890.21
144 2020-03-28                   3202.15
145 2020-03-29                    2097.3
146 2020-03-30                    2888.8
147 2020-03-31                    2616.9

[148 rows x 2 columns]

In [57]:
daily_distance_covered = get_daily_aggregate(p07, "distance", "daily_distance_covered ","sum")
daily_distance_covered

      dateTime daily_distance_covered _sum
0   2019-11-06                      681100
1   2019-11-07                     1455450
2   2019-11-08                      705490
3   2019-11-09                     2010980
4   2019-11-10                      454960
..         ...                         ...
142 2020-03-27                     1516480
143 2020-03-28                      851120
144 2020-03-29                      126020
145 2020-03-30                      642210
146 2020-03-31                     1445250

[147 rows x 2 columns]

In [58]:
daily_moderately_active_minutes = get_daily_aggregate(p07, "moderately_active_minutes", "moderately_active_minutes","sum")
daily_moderately_active_minutes

      dateTime moderately_active_minutes_sum
0   2019-11-05                             0
1   2019-11-06                            23
2   2019-11-07                            21
3   2019-11-08                             9
4   2019-11-09                            16
..         ...                           ...
143 2020-03-27                            73
144 2020-03-28                             4
145 2020-03-29                             0
146 2020-03-30                            42
147 2020-03-31                             2

[148 rows x 2 columns]

In [59]:
daily_lightly_active_minutes= get_daily_aggregate(p07, "lightly_active_minutes", "lightly_active_minutes","sum")
daily_lightly_active_minutes

      dateTime lightly_active_minutes_sum
0   2019-11-05                          0
1   2019-11-06                         82
2   2019-11-07                        226
3   2019-11-08                        224
4   2019-11-09                        243
..         ...                        ...
143 2020-03-27                        575
144 2020-03-28                        465
145 2020-03-29                        115
146 2020-03-30                        296
147 2020-03-31                        170

[148 rows x 2 columns]

In [64]:
heart_rate_df["heart_rate_value"] = heart_rate_df["value"].apply(lambda x: x["value"])
heart_rate_df.drop(["value","metric"], axis = 1, inplace = True)
daily_heart_rate = heart_rate_df.set_index("dateTime").resample("D").mean().reset_index()
daily_heart_rate.rename(columns = {"heart_rate_value":"avg_daily_heart_rate"}, inplace = True)
daily_heart_rate["dateTime"] = daily_heart_rate["dateTime"].dt.date
daily_heart_rate.head(10)

/tmp/ipykernel_1382/3380164093.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heart_rate_df["heart_rate_value"] = heart_rate_df["value"].apply(lambda x: x["value"])
/tmp/ipykernel_1382/3380164093.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  heart_rate_df.drop(["value","metric"], axis = 1, inplace = True)

In [81]:
resting_heart_rate_df = p07[p07.metric == "resting_heart_rate"].copy()
resting_heart_rate_df["daily_resting_heart_rate"] = resting_heart_rate_df["value"].apply(lambda x: x["value"])
resting_heart_rate_df = resting_heart_rate_df.drop(["metric","value"], axis = 1)
daily_resting_heart_rate = resting_heart_rate_df.set_index("dateTime").resample("D").mean().reset_index()
daily_resting_heart_rate.head()

    dateTime  daily_resting_heart_rate
0 2019-11-05                  0.000000
1 2019-11-06                  0.000000
2 2019-11-07                 55.667916
3 2019-11-08                 53.800657
4 2019-11-09                 53.646626

In [84]:
daily_sedentary_minutes= get_daily_aggregate(p07, "sedentary_minutes", "sedentary_minutes","sum")
daily_sedentary_minutes

      dateTime sedentary_minutes_sum
0   2019-11-05                  1440
1   2019-11-06                  1270
2   2019-11-07                   563
3   2019-11-08                   660
4   2019-11-09                   383
..         ...                   ...
143 2020-03-27                   350
144 2020-03-28                   467
145 2020-03-29                  1325
146 2020-03-30                   496
147 2020-03-31                   387

[148 rows x 2 columns]

In [86]:
daily_steps= get_daily_aggregate(p07, "steps", "steps","sum")
daily_steps

      dateTime steps_sum
0   2019-11-06      9370
1   2019-11-07     19979
2   2019-11-08      9614
3   2019-11-09     28445
4   2019-11-10      6203
..         ...       ...
142 2020-03-27     20674
143 2020-03-28     11656
144 2020-03-29      1720
145 2020-03-30      8806
146 2020-03-31     13805

[147 rows x 2 columns]

In [89]:
daily_very_active_minutes= get_daily_aggregate(p07, "very_active_minutes", "very_active_minutes","sum")
daily_very_active_minutes

      dateTime very_active_minutes_sum
0   2019-11-05                       0
1   2019-11-06                      65
2   2019-11-07                     105
3   2019-11-08                      29
4   2019-11-09                     324
..         ...                     ...
143 2020-03-27                      15
144 2020-03-28                       9
145 2020-03-29                       0
146 2020-03-30                      15
147 2020-03-31                      67

[148 rows x 2 columns]

In [101]:
print(p07[p07.metric == "time_in_heart_rate_zones"].iloc[0].value)

{'valuesInZones': {'IN_DEFAULT_ZONE_3': 0.0, 'BELOW_DEFAULT_ZONE_1': 302.0, 'IN_DEFAULT_ZONE_1': 85.0, 'IN_DEFAULT_ZONE_2': 13.0}}

In [104]:
pd.read_csv("./PMDATA/p07/fitbit/sleep_score.csv").head()

,timestamp,sleep_log_entry_id,overall_score,composition_score,revitalization_score,duration_score,deep_sleep_in_minutes,resting_heart_rate,restlessness
0,2019-11-08T07:02:30Z,24557669295,82,22,20,40,104,55,0.054002
1,2019-11-09T06:58:00Z,24568088329,76,16,23,37,74,53,0.052500
2,2019-11-11T07:22:00Z,24591118909,86,22,23,41,96,53,0.042448
3,2019-11-12T07:02:00Z,24620397191,78,19,18,41,95,52,0.054081
4,2019-11-13T07:17:30Z,24620397192,76,17,20,39,71,52,0.062681

In [121]:
def deal_with_sleep_data_json(sleep_df):
    sleep_df['dateOfSleep'] = pd.to_datetime(sleep_df['dateOfSleep'])
    sleep_df['startTime'] = pd.to_datetime(sleep_df['startTime'])
    sleep_df['endTime'] = pd.to_datetime(sleep_df['endTime'].str.replace('Z', '')) # Handle 'Z' if present
    def extract_sleep_levels(levels_data):
        if isinstance(levels_data, dict) and 'summary' in levels_data:
            summary = levels_data['summary']
            return {
                'deep_sleep_minutes': summary.get('deep', {}).get('minutes'),
                'light_sleep_minutes': summary.get('light', {}).get('minutes'),
                'rem_sleep_minutes': summary.get('rem', {}).get('minutes'),
                'awake_minutes_in_sleep': summary.get('wake', {}).get('minutes')
            }
        return {
            'deep_sleep_minutes': None,
            'light_sleep_minutes': None,
            'rem_sleep_minutes': None,
            'awake_minutes_in_sleep': None
        }
    sleep_levels_extracted = sleep_df['levels'].apply(extract_sleep_levels).apply(pd.Series)
    sleep_df = pd.concat([sleep_df, sleep_levels_extracted], axis=1)
    # Select and rename columns for clarity
    sleep_df_processed = sleep_df[[
        'logId', 'dateOfSleep', 'duration', 'minutesToFallAsleep', 'minutesAsleep',
        'minutesAwake', 'minutesAfterWakeup', 'timeInBed', 'efficiency',
        'deep_sleep_minutes', 'light_sleep_minutes', 'rem_sleep_minutes', 'awake_minutes_in_sleep'
    ]].copy()
    sleep_df_processed.rename(columns={'logId': 'sleep_log_entry_id'}, inplace=True)

    return sleep_df_processed

In [145]:
sleep_df = pd.read_json("./PMDATA/p07/fitbit/sleep.json")
sleep_df = deal_with_sleep_data_json(sleep_df)
sleep_df

,sleep_log_entry_id,dateOfSleep,duration,minutesToFallAsleep,minutesAsleep,minutesAwake,minutesAfterWakeup,timeInBed,efficiency,deep_sleep_minutes,light_sleep_minutes,rem_sleep_minutes,awake_minutes_in_sleep
0,24544274440,2019-11-07,31500000,0,443,82,0,525,94,109.0,256.0,78.0,82.0
1,24557669295,2019-11-08,31080000,0,454,64,0,518,98,104.0,241.0,109.0,64.0
2,24568088329,2019-11-09,24600000,0,367,43,3,410,97,74.0,254.0,39.0,43.0
3,24576795756,2019-11-09,3840000,0,54,10,0,64,84,NaN,NaN,NaN,NaN
4,24591118909,2019-11-11,30360000,0,456,50,0,506,97,97.0,221.0,138.0,50.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
156,26480264755,2020-03-26,29220000,0,414,73,0,487,92,89.0,263.0,62.0,73.0
157,26491324901,2020-03-27,25620000,0,368,59,5,427,97,97.0,181.0,90.0,59.0
158,26503441818,2020-03-28,29700000,0,437,58,0,495,97,64.0,313.0,60.0,58.0
159,26529472619,2020-03-30,35460000,0,521,70,0,591,96,126.0,302.0,93.0,70.0
160,26542097498,2020-03-31,30600000,0,457,53,0,510,95,92.0,281.0,84.0,53.0

In [148]:
sleep_score_df = pd.read_csv("./PMDATA/p07/fitbit/sleep_score.csv")
sleep_score_df['timestamp'] = pd.to_datetime(sleep_score_df['timestamp'].str.replace('Z', ''))
sleep_score_df_processed = sleep_score_df[[
    'sleep_log_entry_id', 'timestamp', 'overall_score', 'composition_score',
    'revitalization_score', 'duration_score', 'restlessness'
]].copy()

In [166]:
print(sleep_score_df_processed.dtypes)
print(sleep_df.dtypes)

sleep_log_entry_id               int64
timestamp               datetime64[ns]
overall_score                    int64
composition_score                int64
revitalization_score             int64
duration_score                   int64
restlessness                   float64
dtype: object
sleep_log_entry_id                 int64
dateOfSleep               datetime64[ns]
duration                           int64
minutesToFallAsleep                int64
minutesAsleep                      int64
minutesAwake                       int64
minutesAfterWakeup                 int64
timeInBed                          int64
efficiency                         int64
deep_sleep_minutes               float64
light_sleep_minutes              float64
rem_sleep_minutes                float64
awake_minutes_in_sleep           float64
dtype: object

In [181]:
sleep_df.duplicated().sum()

4

In [182]:
sleep_df.drop_duplicates(inplace = True)

In [184]:
combined_sleep_df = pd.merge(
    sleep_df,
    sleep_score_df_processed,
    on='sleep_log_entry_id',
    how='outer'
)

In [186]:
combined_sleep_df.isna().sum()

sleep_log_entry_id         0
dateOfSleep                0
duration                   0
minutesToFallAsleep        0
minutesAsleep              0
minutesAwake               0
minutesAfterWakeup         0
timeInBed                  0
efficiency                 0
deep_sleep_minutes        15
light_sleep_minutes       15
rem_sleep_minutes         15
awake_minutes_in_sleep    15
timestamp                 17
overall_score             17
composition_score         17
revitalization_score      17
duration_score            17
restlessness              17
dtype: int64

In [187]:
combined_sleep_df

,sleep_log_entry_id,dateOfSleep,duration,minutesToFallAsleep,minutesAsleep,minutesAwake,minutesAfterWakeup,timeInBed,efficiency,deep_sleep_minutes,light_sleep_minutes,rem_sleep_minutes,awake_minutes_in_sleep,timestamp,overall_score,composition_score,revitalization_score,duration_score,restlessness
0,24544274440,2019-11-07,31500000,0,443,82,0,525,94,109.0,256.0,78.0,82.0,NaT,NaN,NaN,NaN,NaN,NaN
1,24557669295,2019-11-08,31080000,0,454,64,0,518,98,104.0,241.0,109.0,64.0,2019-11-08 07:02:30,82.0,22.0,20.0,40.0,0.054002
2,24568088329,2019-11-09,24600000,0,367,43,3,410,97,74.0,254.0,39.0,43.0,2019-11-09 06:58:00,76.0,16.0,23.0,37.0,0.052500
3,24576795756,2019-11-09,3840000,0,54,10,0,64,84,NaN,NaN,NaN,NaN,NaT,NaN,NaN,NaN,NaN,NaN
4,24591118909,2019-11-11,30360000,0,456,50,0,506,97,97.0,221.0,138.0,50.0,2019-11-11 07:22:00,86.0,22.0,23.0,41.0,0.042448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
152,26480264755,2020-03-26,29220000,0,414,73,0,487,92,89.0,263.0,62.0,73.0,2020-03-26 08:26:30,78.0,17.0,24.0,37.0,0.052798
153,26491324901,2020-03-27,25620000,0,368,59,5,427,97,97.0,181.0,90.0,59.0,2020-03-27 06:55:00,76.0,22.0,21.0,33.0,0.050292
154,26503441818,2020-03-28,29700000,0,437,58,0,495,97,64.0,313.0,60.0,58.0,2020-03-28 08:01:00,81.0,17.0,23.0,41.0,0.049445
155,26529472619,2020-03-30,35460000,0,521,70,0,591,96,126.0,302.0,93.0,70.0,2020-03-30 08:59:30,88.0,20.0,24.0,44.0,0.054945
156,26542097498,2020-03-31,30600000,0,457,53,0,510,95,92.0,281.0,84.0,53.0,NaT,NaN,NaN,NaN,NaN,NaN

In [205]:
def preprocess_hr_zones(hr_zones_df):
    hr_zones_df['dateTime'] = pd.to_datetime(hr_zones_df['dateTime'])

    def extract_hr_zones(value_data):
        if isinstance(value_data, dict) and 'valuesInZones' in value_data:
            zones = value_data['valuesInZones']
            return {
                'time_in_below_default_zone1_minutes': zones.get('BELOW_DEFAULT_ZONE_1', 0.0),
                'time_in_fat_burn_zone_minutes': zones.get('IN_DEFAULT_ZONE_1', 0.0), # Fat Burn Zone 
                'time_in_cardio_zone_minutes': zones.get('IN_DEFAULT_ZONE_2', 0.0),   # Cardio Zone 
                'time_in_peak_zone_minutes': zones.get('IN_DEFAULT_ZONE_3', 0.0)     # Peak Zone 
            }
        # Return None or appropriate default if 'valuesInZones' is missing or not a dict
        return {
            'time_in_below_default_zone1_minutes': None,
            'time_in_fat_burn_zone_minutes': None,
            'time_in_cardio_zone_minutes': None,
            'time_in_peak_zone_minutes': None
        }

    hr_zones_extracted = hr_zones_df['value'].apply(extract_hr_zones).apply(pd.Series)

    hr_zones_df_processed = pd.concat([hr_zones_df['dateTime'], hr_zones_extracted], axis=1)
        
    hr_zones_df_processed['dateTime'] = hr_zones_df_processed['dateTime'].dt.date

    return hr_zones_df_processed

In [207]:
hr_zones_df = pd.read_json("./PMDATA/p07/fitbit/time_in_heart_rate_zones.json")
hr_zones_df = preprocess_hr_zones(hr_zones_df)